404 Not found XSS (Cross Site Scripting Issue)

Hi,

I am not sure if this issue belongs to strongloop or the strongloop error handler:

You can simply generate XSS-links by using the error handler. For example:

`http://your-app.com/api/containers/images/download/<img onerror=alert(1) src=a>`

This will produce an HTML document containing the image and the js-code in the error-title. If debug is set to true in the middleware the code gets rendered and executed three times.

Dependency setup:

```
"dependencies": {
    "compression": "^1.0.3",
    "cors": "^2.5.2",
    "gm": "^1.23.0",
    "helmet": "^1.3.0",
    "loopback": "^3.0.0",
    "loopback-boot": "^2.6.5",
    "loopback-component-explorer": "^4.0.0",
    "loopback-component-storage": "^3.2.0",
    "loopback-connector-postgresql": "^3.0.0",
    "loopback-ds-timestamp-mixin": "^3.4.1",
    "node-uuid": "^1.4.8",
    "serve-favicon": "^2.0.1",
    "strong-error-handler": "^2.0.0"
  },
```


Defined middleware:

```
{
  "final:after": {
    "strong-error-handler": {
      "params": {
        "debug": true,
        "log": true
      }
    }
  }
}
```



Temporary solved the problem by using the defaultType "json" and setting negotiateContentType to false. So my app will response with json code instead of html:

```
{
  "final:after": {
    "strong-error-handler": {
      "params": {
        "debug": false,
        "log": false,
        "defaultType":"json",
        "negotiateContentType":false
      }
    }
  }
}
```

I have a feeling the XSS is coming from LoopBack not sanitizing the error messages that it creates. Thanks for the tip on the defaultType and negotiateContentType.

@bajtos Can you check how to avoid this?

This is a bug in our template (see [views/default-error.ejs](https://github.com/strongloop/strong-error-handler/blob/4c69370751755c0eb1a96e30a7f62182704839ba/views/default-error.ejs)) which is incorrectly using EJS's `<!-` (_Outputs the unescaped value into the template_) instead of `<!=` (_Outputs the value into the template (HTML escaped)_).

@steampixel @zmetcalf would you like to contribute the fix yourself? Just don't forget to add some tests to cover your changes, see the existing tests for the HTML response format in [test/handler.test.js](https://github.com/strongloop/strong-error-handler/blob/4c69370751755c0eb1a96e30a7f62182704839ba/test/handler.test.js#L456-L527)).



Np @bajtos, I will take a look at it soon.

Fixed in `strong-error-handler@2.3.1`. Kudos to @zmetcalf for contributing the fix ❤️ 

Hi is there any way to escape also json result?
current result: 

```
{
    "error": {
        "statusCode": 404,
        "name": "Error",
        "message": "There is no method to handle POST <script>cross_site_scripting.nasl</script>.asp"
    }
}
```
expected result: 

```
{
    "error": {
        "statusCode": 404,
        "name": "Error",
        "message": "There is no method to handle POST /%253Cscript%253Ecross_site_scripting.nasl%253C/script%253E.asp""
    }
}
```

> where to intercept the message result and perform encodeURI on it

You should intercept and encode the message before rendering it in your HTML page. IMO, you should use HTML escaping instead of `encodeURI`. This escaping is typically handled by front-end frameworks like jQuery/Ember/React/Angular/Vue/etc.

If you are composing the HTML snippets by string concatenation (which you really should not!), then you may find the following trick useful:

```js
const inputValue = '<script>cross_site_scripting.nasl</script>.asp';
const safe = new Option(inputValue).innerHTML;
// returns
'&lt;script&gt;cross_site_scripting.nasl&lt;/script&gt;.asp'
```

It really depends on how are your presenting the error message. For example, a native iOS or Android mobile application would use a different mechanism to present potentially dangerous data to the user.



I'm using the default error messaging of this library and didn't pass on vulnerability scan.

the return json object:
```
{"error":{"statusCode":404,"name":"Error","message":"Cannot GET /<script
>cross_site_scripting.nasl</script>.asp"}}
```

is there anyway to escape the url parameters returned in error message or the error message itself?



Hm. I think it's dangerous to not escape the error message by default. That would mean that nobody generally could trust error responses from the server backend. In my opinion, this should actually be escaped because it is an error message and not app content. It should not contain any HTML. What about users not keeping in mind that they have to escape the response? They would run into the same vulnerability. If anybody needs HTML in error messages it should be rendered by the Client and not by the server.

@louiepiol 

> I'm using the default error messaging of this library and didn't pass on vulnerability scan.

Could you please be more specific? What tool do you use for vulnerability scanning? Was it the entire application including front-end that did not pass the scan, or was the backend found vulnerable? What library are you using to render the errors received from the server?

Honestly, the request made in this issue makes little sense to me based on my current knowledge of security best practices, but I am open to the possibility of being wrong.

> Is there anyway to escape the url parameters returned in error message or the error message itself?

Not really. Consider the situation when the attacker provides a malicious content in the body of a request creating a new model instance, e.g

```
POST /api/products HTTP/1.1

{
  "name": "<script>cross_site_scripting.nasl</script>"
}
```

Right now LoopBack returns:

```
HTTP/1.1 200 OK

{
  "id": 1,
  "name": "<script>cross_site_scripting.nasl</script>"
}
```

How would you like the server to handle this case? Are you expecting LoopBack to url-encode all string values in every JSON response? That does not make any sense to me!

If it's only the 404 error that's causing you troubles, then you can replace the built-in loopback middleware that's producing "not found" error with a custom one that does not return the requested URL in the error message. See https://loopback.io/doc/en/lb3/Defining-middleware.html. Here is the section of `server/middleware.json` that's defining how are unknown paths handled:

```
  "final": {
    "loopback#urlNotFound": {}
  },
```

But please note this is not fixing the cause, just removing symptoms. If your browser app is not HTML-encoding error responses from the server, then you are still vulnerable to XSS.

If you are strongly convinced that the string values in JSON error responses should be encoded (URL-encoded, HTML-escaped, whatever), then you are free to implement and use your own error handling middleware, e.g. by creating a fork of `strong-error-handler`.

Just change the last section of your `server/middleware.json` to use your custom error handler.

```
  "final:after": {
    "strong-error-handler": {}
  }
```

---

@steampixel 
> Hm. I think it's dangerous to not escape the error message by default. That would mean that nobody generally could trust error responses from the server backend. 

Yes, you should not trust any data coming to your application and always HTML-escape any value that your are printing to your HTML page. Even better, you should never print those values directly, but use such an API of your front-end framework that handles HTML-escaping for you. 

>  In my opinion, this should actually be escaped because it is an error message and not app content. It should not contain any HTML. What about users not keeping in mind that they have to escape the response? They would run into the same vulnerability. If anybody needs HTML in error messages it should be rendered by the client and not by the server.

See the previous part of my comment. When I take your argument ad absurdum, then you are asking LoopBack to escape all string values returned in any JSON response.

Here is another argument why this won't work. Consider a REST API that's consumed by a web application, an iOS/iPhone app, an Android app and also an IoT device with a text-only display. What kind of escaping should we use to keep the escaped values readable on all of these clients? 



@bajtos 

I'm using Nessus® Professional for vulnerability scanning, the issue was on backend and for the library I'm using default error handler of loopback which `strong-error-handler`.

I ended up with forking `strong-error-handler` and encode character that can used for xss scripting.

Thank you for your responses and suggestion.



@bajtos I think I did not express myself correctly. Not all incoming replies from a server are trusted. I agree with you on this point. And not all outgoing answers should be escaped by default. However, the server/router alone is responsible for the content of the error messages since there is normaly no third party code included. The question is why the server already trusts incoming requests blindly without checking them. Why is there no sanitation of the path segments? Why does the server accept tags and quotes at all? You don't need those characters in the context of a router. I think path segments should only contain characters like `[A-Za-z0-9_.-~]` and a few others. Instead the server should response with something like this:
`{
    "error": {
        "statusCode": 404,
        "name": "Error",
        "message": "Sorry. Cannot check if this route exists because forbidden characters where detected or your route is malformed."
    }
}`

If the server would sanitize all incoming routes, the problem would not exist.

@louiepiol 

> I'm using Nessus® Professional for vulnerability scanning, the issue was on backend and for the library I'm using default error handler of loopback which strong-error-handler.

Does Nessus offer any more information about the vulnerability found, perhaps pointing to a public web page where I could learn more about the reasoning? I would love to understand why Nessus considers are default error handler vulnerable.

I was trying to look it up on Tenable website, but with no luck. Here is the query I used: https://www.tenable.com/plugins/search?q=xss%20404&sort=&page=1

> I ended up with forking strong-error-handler and encode character that can used for xss scripting.

I am wondering if we can make it easier for you (and possibly other future users of strong-error-handlers) to maintain a fork. For example, we can make certain internal strong-error-handler APIs public, so that your fork does not have to copy everything and focus only on the relevant parts that have been changed. 

Please let me know if this would be of any interest to you.

@steampixel 
> However, the server/router alone is responsible for the content of the error messages since there is normaly no third party code included.

This reminds me of a discussion I had in the past, where a user was suggesting that our validation errors should not be showing the actual value that did not pass validation check. Unfortunately I am not able to find that discussion now, this one is close:  https://github.com/strongloop/loopback-datasource-juggler/issues/504

So maybe we can change our [`url-not-found` handler](https://github.com/strongloop/loopback/blob/fa644d6a3151625d43f37e1c10d55fd09cb7ac89/server/middleware/url-not-found.js#L20-L24) to produce a less verbose error message. Right now, we are creating the following message:

```js
new Error('Cannot ' + req.method + ' ' + req.url);
```

I suppose we can change it to a generic string that does not contain `req.url`:

```js
new Error('The requested resource was not found.');
```

Would that solve the problem?

> You don't need those characters in the context of a router. I think path segments should only contain characters like `[A-Za-z0-9_.-~]`

The characters allowed in path segments are described in HTTP/1.1 specification - see [RFC 7230](https://tools.ietf.org/html/rfc7230). [`request-target`](https://tools.ietf.org/html/rfc7230#section-5.3) (URI) of a request is defined as follows:
 
 ```
  request-target = origin-form
                 / absolute-form
                 / authority-form
                 / asterisk-form
 ```

We can follow this further to find that each form has similar requirements, all defined [here](https://tools.ietf.org/html/rfc7230#section-2.7), which references [RFC 3986](https://tools.ietf.org/html/rfc3986#section-4.3). We then see the definitions of `authority` (hostname and port) and `path-abempty` (pathname).

```
authority     = [ userinfo "@" ] host [ ":" port ]
userinfo      = *( unreserved / pct-encoded / sub-delims / ":" )
host          = IP-literal / IPv4address / reg-name
port          = *DIGIT
reg-name      = *( unreserved / pct-encoded / sub-delims )

path-abempty  = *( "/" segment )
segment       = *pchar
pchar         = unreserved / pct-encoded / sub-delims / ":" / "@"

unreserved    = ALPHA / DIGIT / "-" / "." / "_" / "~"
pct-encoded   = "%" HEXDIG HEXDIG
sub-delims    = "!" / "$" / "&" / "'" / "(" / ")"
```

Whoa! I believed that angle brackets are allowed in URI paths, but this clearly shows the opposite is true. 

In that light, I am starting to understand why a scanner like Nessus® Professional may be complaining about the way we treat `abs_path` values containing values not allowed by the spec.

Now the question is, which layer is supposed to implement validation of request URIs? 

Ideally, I would expect Node.js core HTTP/HTTPs server to validate request-URI (`request-target` in the current version of the spec). This has been recently proposed and unfortunately rejected. See https://github.com/nodejs/node/issues/18405

The next layer above Node.js core is http://expressjs.com. I opened a new issue to discuss this matter, see https://github.com/expressjs/express/issues/3746

Interestingly enough, the default 404 handler in Express does url-encode the requested path when creating the error message. See [finalhandler](https://github.com/pillarjs/finalhandler/blob/262126e744630d71207fd2d15c92628f7d720796/index.js#L115):

```js
msg = 'Cannot ' + req.method + ' ' + encodeUrl(getResourceName(req))
```

Url-encoding was added before `finalhandler@1.0.0` was released, unfortunately https://github.com/pillarjs/finalhandler/commit/3fe2b5e4480b3eb67f6eef1da3797e2f8039d7e2 does not provide any explanation of that change :(

We could url-encode the requested path in loopback's `urlNotFound` handler. I am reluctant to do so, because I am concerned about the confusion this can create, since the error message is going to show different request path than was actually sent. I think it's better to leave the request method+path values and return a generic error message instead.

Thoughts?

cc @virkt25 @raymondfeng @strongloop/sq-lb-apex 

Hey,

@bajtos: Thank you for opening the discussion at https://github.com/expressjs/express/issues/3746. Let's see if there are any good arguments agains this implementation.

I digged a bit into the rfc3986 standard (https://tools.ietf.org/html/rfc3986) and also readed the conclusions at https://www.w3schools.com/html/html_urlencode.asp
I'am a little bit confused right now^^ I think you are right. The standard does not forbid the use of < or > because they are ASCII characters. More specifely it allows all ASCII characters in general. But reading on w3schools.com you will get this information: "URL encoding converts non-ASCII characters into a format that can be transmitted over the Internet." If I use the convert function on this page the < and > characters will be encoded to "%3C%3E". The confusing thing about this fact is, that rfc3986 does not forces these characters to be encoded. But w3c's encode function encodes them even they are in the ASCII space. So I assume that it's just some kind of a bad practice to not encode such characters. And imho it would also make sense for a framework to forbid bad practices by default.

You mentioned two interesting points: 

> This reminds me of a discussion I had in the past, where a user was suggesting that our validation errors should not be showing the actual value that did not pass validation check.

> I am reluctant to do so, because I am concerned about the confusion this can create, since the error message is going to show different request path than was actually sent.

Yes of course. From a developer view it would make sense to get feedback about the parameters triggering the error. And it would be better if the parameters are unchanged.

Yes. You are absolutely right. I think it would be OK to use a generic error message. But imho I would prefer another solution that would met both cases: Since sending characters like < and > is bad practice I would generate a generic 400 message telling the user that the uri was not accepted. The error message could also contain the triggering character without throwing back the whole path. If the uri instead is OK, I would than in a second step check if the route was found. If it was not found I would generate a 404 containing the full path since it is save now. Additionaly I would provide some kind of a config variable that could deactivate the "best practice" check. This could be helpfull for developers with special requirements knowing what they are doing.

>  also readed the conclusions at https://www.w3schools.com/html/html_urlencode.asp

FWIW, w3school used to be rather untrustworthy in the past. See http://www.w3fools.com and https://meta.stackoverflow.com/questions/280478/why-not-w3schools-com. Looks like they have improved since 2011, so this may not be a concern anymore.

> The standard does not forbid the use of < or > because they are ASCII characters. 

I am afraid I read the standard differently. My understanding is that only the following characters are allowed:

- ":" / "@" (see `pchar` definition)
- `ALPHA / DIGIT / "-" / "." / "_" / "~"` (see `unreserved`)
- `"%" HEXDIG HEXDIG` (see `pct-encoded)
- ` "!" / "$" / "&" / "'" / "(" / ")" (see `sub-delims`)

An earlier version of the URL/URI specification was explicitly explaining why `<` and `>` characters are not allowed, see [RFC2396 section 2.4.3](https://tools.ietf.org/html/rfc2396#section-2.4.3)
> The angle-bracket "<" and ">" and double-quote (") characters are
> excluded because they are often used as the delimiters around URI in
> text documents and protocol fields.

---

> Yes. You are absolutely right. I think it would be OK to use a generic error message. But imho I would prefer another solution that would met both cases: Since sending characters like < and > is bad practice I would generate a generic 400 message telling the user that the uri was not accepted. The error message could also contain the triggering character without throwing back the whole path. If the uri instead is OK, I would than in a second step check if the route was found. If it was not found I would generate a 404 containing the full path since it is save now. Additionaly I would provide some kind of a config variable that could deactivate the "best practice" check. This could be helpfull for developers with special requirements knowing what they are doing.

Your proposal makes sense. I would implement it as follows:
 - Create a new middleware that will check whether the requested path is a valid `request-target`. IF the path is not valid, then this middleware triggers an error to prevent any further request processing. Ideally, this middleware should be a standalone package living e.g. in `strongloop` or `strongloop-community` organization on GitHub.
 - Modify our project template to configure this new middleware in newly created projects, the middleware should be registered in the `initial` phase. See [server/middleware.json](https://github.com/strongloop/loopback-workspace/blob/master/templates/projects/empty-server/files/server/middleware.json) template and also the list of dependencies added to new projects in [data.json](https://github.com/strongloop/loopback-workspace/blob/01106abbd318066ccede9e8c0028ccef6c6b8b42/templates/projects/empty-server/data.js#L24-L30).

Let's wait for the outcome of the Express discussion first. If Express provides a solution out of the box then we don't have to implement the middleware ourselves.

Wow, this discussion required a bit of catching up and reading up, but now that it's done I want to chime in with my opinion after also having discussed this issue further offline with others who are knowledgable in application / product security across the entire stack. 

---

Firstly I want to emphasize that I don't think there is a XSS security risk here, not one introduced by this module or the LoopBack framework. Here's my reasoning. 

1. This module in conjunction with the framework return the error as a JSON object with the content-type set as `application/json`. (If this is not the case then this should be fixed). This prevents any automatic execution of URLs in the payload, sanitized or not by default as no browser will execute JSON / anything contained within the json payload by default. 

2. XSS prevention requires both the front-end developers and back-end developers to work together. I initially thought you were describing a reflected XSS but since we return a JSON payload, what this really is is a DOM XSS because a front-end developer decided to trust the data returned by a server and inject it into the UI in an unsafe manner. As previously mentioned most front-end frameworks will not trust data by default but rather require a user to say what data to trust. This is generally a good rule of thumb, no data should ever be trusted in a UI except in rare cases where you know that the data was generated by a trusted source (users are not ever to be considered a trusted source -- example would be uploading an image and saving the link generated by the storage service in a database -- this can be trusted to inject into the UI to render the image). DOM XSS is the responsibility of the front-end and should be dealt as such. 

---

Now I know another concern being expressed here is that the framework should reject invalid URLs entirely if they don't conform to the standard which doesn't allow unsafe characters to begin with. I would like to disagree with this based on the same merits used to reject this feature in Node and express. 

It is too difficult to create a valid RegEx + it introduces a performance hit (however minor) for all incoming requests since they would all have to be checked. If Node.js core http module doesn't see the need for it then I'm not sure why we should do it. There is no security threat posed by an invalid url being called as the server doesn't execute the url string in an unsafe manner + if the URL is invalid the request won't be matched to any route and rejected anyways so this additional check is unnecessary imo.

And as mentioned in the Node link posted above, browsers may consider some URLs as valid despite what the RFC says -- making it harder for us to decide what is valid or not. Browsers are notorious for this and a RFC is great but should be applied in consideration of the cost (performance) and acceptance (browsers don't accept it entirely). This would become a thing to always be battling / updating as URLs / IDNA's / etc. 

Also not all standards are meant to be followed to the T / implemented to the T. A great talk I went to a long time ago by Microsoft iterated this. They had re-written IE as Edge and implemented all the latest standards exactly as defined in the browser. In their testing over 50% of the websites broke in Edge vs. Chrome / Firefox / etc. The reason? -- those browsers had relaxed implementations of the standards allowing developers to write "broken" code / css as per the standard and they still worked. As a result Edge had to relax those standards so they won't break the web on their browser.

---

For the proposals here are my thoughts: 

- I disagree with the idea of returning a generic message as I see this as a breaking change. Anyone who is a current LoopBack user would have implemented their app to possibly show the error message (and if they use a modern framework they would have no issue with DOM XSS) and changing the error message can break what they expect / tests they have implemented, etc. Plus I think error messages should be detailed and if a front-end developer wants to show a generic message they can do so by reading the `error.statusCode === 404` and show a generic message. 

- The middleware approach -- as per my pervious comments I think this would be hard to get right, it would introduce a performance hit for all URLs and the invalid requests would've been rejected anyways so this check is unnecessary. I also don't think it would be fair to other users to introduce this in all applications by adding it to the template. 

My suggestion: 
- LoopBack provides a way to add Express middleware to your application. You can write a middleware to implement the standard and reject invalid URLs and add it to your application as such to achieve the desired behaviour. See https://loopback.io/doc/en/lb3/Defining-middleware.html for more details. You can open source the middleware and if other users are interested they can add the middleware to their application. 

---

Oh, almost forgot, can you share more details on what exactly is the Nessus scanner complaining about -- like the exact error and where it's reporting it. This would help to understand what they think might be an issue ... and maybe their tool needs to be updated. I've often had to report updates to `Snyk` myself since it's hard for even professional tools to keep up as security must be constantly reevaluated. 

Also curious to know why this can't be fixed in the UI as per an earlier suggestion?

@bajtos @virkt25 

Here's the link for Nessus vulnerability test issue.
[Web Server Generic XSS](https://www.tenable.com/plugins/nessus/10815)

An internal strong-error-handler APIs public sounds good to me.

My project was to create a public API so it should taking care of by the backend.

Thanks @louiepiol for a link to _Web Server Generic XSS_. Unfortunately the vulnerability is described in such generic terms, that I cannot really tell why exactly Nessus is considering our current implementation as not secure :(

Thank you @virkt25 for a thoughtful comment. I fully agree with all arguments you made and the proposal to let LoopBack users to create a custom middleware that can validate incoming URL paths against RFC specification(s).

I am going to close this issue again. I think this was a good discussion to have, I certainly learned a lot 👍

@louiepiol @steampixel I strongly encourage you to write a middleware that can validate request-target compliance. I think the implementation can be pretty simple if you leverage [request-target](https://www.npmjs.com/package/request-target) module, here is a mock-up for illustration:

```js
const parse = require('request-target');

module.exports = function validateRequestTarget(req, res, next) {
  if (!parse(req)) {
    const err = new Error('Invalid request-target.');
    err.statusCode = 400;
    return next(err);
  }
  next();
}
```

Please let us know if you make this middleware, I would love to see it listed on our [Community projects](https://loopback.io/doc/en/community/index.html) page. Just send a pull request to add your middleware to our list, see [How to add a community project](https://loopback.io/doc/en/community/How-to-add-a-project.html).